* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #f9f7fe;
  --secondary: #6c63ff;
  --default-font: "Poppins", sans-serif;
  --primary-font: "Playfair Display", serif;
}
body {
  font-family: var(--default-font);
}

h1 {
  font-family: var(--primary-font);
  font-weight: bold;
  color: black;
  font-size: 96px;
}
.hero {
  background: var(--primary);
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.contact-btn {
  color: white;
  background: var(--secondary);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 45px;
  transition: all 0.5s;
}
.contact-btn:hover {
  color: var(--secondary);
  border: 2px solid #6c63ff;
  background: white;
}
.footer {
  height: 20vh;
  text-align: center;
}
